<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-column">
        <h5 class="column-title">
          Возможности
        </h5>
        <a class="footer-link" href="#">
          Обзор продукта
        </a>
        <a class="footer-link" href="#">
          Возможности
        </a>
        <a class="footer-link" href="#">
          Отличия от программ
          <span class="footer-label">
            New
          </span>
        </a>
        <a class="footer-link" href="#">
          Параметры
        </a>
        <a class="footer-link" href="#">
          Информация об обновлениях
        </a>
      </div>
      <div class="footer-column">
        <h5 class="column-title">
          Помощь
        </h5>
        <a class="footer-link" href="#">
          Быстрый старт
        </a>
        <a class="footer-link" href="#">
          Справка
        </a>
        <a class="footer-link" href="#">
          Обучающие материалы
        </a>
        <a class="footer-link" href="#">
          Платные курсы
        </a>
      </div>
      <div class="footer-column">
        <h5 class="column-title">
          Тарифы
        </h5>
        <a class="footer-link" href="#">
          Тарифы
        </a>
        <a class="footer-link" href="#">
          Описания
        </a>
      </div>
      <div class="footer-column">
        <h5 class="column-title">
          Правовая информация
        </h5>
        <a class="footer-link" href="#">
          Условия работы
        </a>
        <a class="footer-link" href="#">
          Приватность
        </a>
        <a class="footer-link" href="#">
          Cookies
        </a>
        <a class="footer-link" href="#">
          Лицензирование
        </a>
        <a class="footer-link" href="#">
          Обратная связь
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <a class="footer-logo" href="#">
        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.4396 0.718365C11.6548 0.718365 12.8453 0.925237 13.9779 1.33324C15.0347 1.7139 16.0181 2.26062 16.9027 2.95913L9.09418 10.7679L9.0172 10.8449L9.09418 10.9219L17.2462 19.0739C16.3348 19.8585 15.3065 20.4741 14.1879 20.9046C12.9928 21.3645 11.7317 21.5977 10.4396 21.5977C9.0302 21.5977 7.66303 21.3217 6.37605 20.7774C5.13293 20.2516 4.01647 19.4989 3.05769 18.5401C2.09891 17.5813 1.34618 16.4649 0.82039 15.2217C0.276058 13.9348 5.90096e-05 12.5676 5.91284e-05 11.1582C5.92472e-05 9.74878 0.276058 8.38159 0.820391 7.0946C1.34618 5.85145 2.09892 4.73496 3.05769 3.77614C4.01648 2.81732 5.13294 2.06455 6.37605 1.53874C7.66303 0.994379 9.03021 0.718365 10.4396 0.718365Z" fill="white"/>
          <path d="M11.0128 10.8448L21.4553 21.2873L31.8979 10.8448L21.4553 0.402248L11.0128 10.8448Z" fill="white"/>
        </svg>
        <p class="footer-logo__text">СМЕТНЫЙ ОФИС</p>
      </a>
      <p class="footer-copy">
        © 2023 Все права защищены. Сметный офис
      </p>
    </div>
  </div>
</footer>
