<header class="header">
  <div class="header-top container">
    <div class="header-nav">
      <a class="header-logo" href="#">
        <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.4396 0.718365C11.6548 0.718365 12.8453 0.925237 13.9779 1.33324C15.0347 1.7139 16.0181 2.26062 16.9027 2.95913L9.09418 10.7679L9.0172 10.8449L9.09418 10.9219L17.2462 19.0739C16.3348 19.8585 15.3065 20.4741 14.1879 20.9046C12.9928 21.3645 11.7317 21.5977 10.4396 21.5977C9.0302 21.5977 7.66303 21.3217 6.37605 20.7774C5.13293 20.2516 4.01647 19.4989 3.05769 18.5401C2.09891 17.5813 1.34618 16.4649 0.82039 15.2217C0.276058 13.9348 5.90096e-05 12.5676 5.91284e-05 11.1582C5.92472e-05 9.74878 0.276058 8.38159 0.820391 7.0946C1.34618 5.85145 2.09892 4.73496 3.05769 3.77614C4.01648 2.81732 5.13294 2.06455 6.37605 1.53874C7.66303 0.994379 9.03021 0.718365 10.4396 0.718365Z" fill="white"/>
          <path d="M11.0128 10.8448L21.4553 21.2873L31.8979 10.8448L21.4553 0.402248L11.0128 10.8448Z" fill="white"/>
        </svg>
        <p class="header-logo__text">СМЕТНЫЙ ОФИС</p>
      </a>
      <ul class="nav">
        <li class="nav-list">
          <a href="" class="nav-link">Главная</a>
        </li>
        <li class="nav-list header__drop-down drop-down">
          <a href="#" class="nav-link">
            Продукты
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.59521 1.5L6.59521 6.5L11.5952 1.5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <ul class="drop-down__list">
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">Wordpress Design</a>
            </li>
            <li>
              <a href="#">Мobile App Devplopment</a>
            </li>
            <li>
              <a href="#">Internet Marketing</a>
            </li>
            <li>
              <a href="#">Social Media Management</a>
            </li>
          </ul>
        </li>
        <li class="nav-list header__drop-down drop-down">
          <a href="#" class="nav-link">
            Данные
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.59521 1.5L6.59521 6.5L11.5952 1.5" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <ul class="drop-down__list">
            <li>
              <a href="#">Web Design</a>
            </li>
            <li>
              <a href="#">Wordpress Design</a>
            </li>
            <li>
              <a href="#">Мobile App Devplopment</a>
            </li>
            <li>
              <a href="#">Internet Marketing</a>
            </li>
            <li>
              <a href="#">Social Media Management</a>
            </li>
          </ul>
        </li>
        <li class="nav-list">
          <a href="" class="nav-link">Цены</a>
        </li>
      </ul>
    </div>
    <div class="header-buttons">
      <button class="button secondary">Логин</button>
      <button class="button primal" (click)="scroll()">Регистрация</button>
    </div>
  </div>
  <div class="header-bottom">
      <div class="header-description">
        <p class="header-subtitle">
          Простой способ заработать на сметах
        </p>
        <h1 class="header-title">
          Инновационное составления смет
        </h1>
        <p class="header-description">
          Работайте меньше, получайте больше
        </p>
        <div class="header-buttons demo">
          <button class="button-demo button white">
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5 21C17.0228 21 21.5 16.5228 21.5 11C21.5 5.47715 17.0228 1 11.5 1C5.97715 1 1.5 5.47715 1.5 11C1.5 16.5228 5.97715 21 11.5 21Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 7.96533C9 7.48805 9 7.24941 9.09974 7.11618C9.18666 7.00007 9.31971 6.92744 9.46438 6.9171C9.63038 6.90525 9.83112 7.03429 10.2326 7.29239L14.9532 10.3271C15.3016 10.551 15.4758 10.663 15.5359 10.8054C15.5885 10.9298 15.5885 11.0702 15.5359 11.1946C15.4758 11.337 15.3016 11.449 14.9532 11.6729L10.2326 14.7076C9.83112 14.9657 9.63038 15.0948 9.46438 15.0829C9.31971 15.0726 9.18666 14.9999 9.09974 14.8838C9 14.7506 9 14.512 9 14.0347V7.96533Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Демонстрация работы
          </button>
          <button class="button primal" (click)="scroll()">
            Регистрация
          </button>
        </div>
      </div>
  </div>
</header>
