<section class="banner">
  <div class="banner-container container">
    <div class="banner-left">
      <h4 class="banner-title">
        Попробуйте Сметный офис
      </h4>
      <p class="banner-description">
        Присоединяйтесь к сообществу сметчиков, нас уже более 5000+ человек
      </p>
      <div class="banner-buttons">
        <button class="button white">
          Подробнее
        </button>
        <button class="button primal">
          Начать использовать Сметный офис
        </button>
      </div>
    </div>
    <div class="banner-right">

    </div>
  </div>
</section>
