<section class="review">
  <div class="review-container container">
    <img class="review-logo" src="/assets/images/logo.png" alt="логотип">
    <p class="review-text">
      Когда пришлось делать сразу 10 смет, я не думала что успею, но Сметный офис мне помог в этом
    </p>
    <div class="person">
      <img class="person-photo" src="/assets/images/person.png" alt="автор отзыва">
      <p class="person-name">
        Симона Ли
      </p>
      <p class="person-position">
        Главный инженер Global Trust Investment
      </p>
    </div>
  </div>
</section>
